<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Enter City Name</h1>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}  
        <form method="POST">
            <input type="text" name="city" placeholder="piemeram Riga, London" required>
            <button type="submit">Get Forecast</button>
        </form>
    </div>
</body>
</html>